@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

body {
  margin: 0;
  padding: 0;
  background: #E1DCD2;
  font-family: 'Montserrat', sans-serif;
  color: #E1DCD2;
}

.first-page {
  width: 100%;
  background: #211e1a;
  box-shadow: 1px 1px 20px 1px rgba(33, 30, 26, .3);
}

.container {
  padding: 0;
  width: 75%;
  margin: 0 auto;
}

.flex-3 {
  display: flex;
  justify-content: space-between;
}

/* Image */
#img-div {
  display: flex;
  max-width: 350px;
  height: 100vh;
  background: #E1DCD2;
  align-items: center;
}

#image {
  display: block;
  max-width: 350px;
  height: auto;
}

figure {
  margin: 0;
  padding: 10vh 0 0 0;
  text-align: center;
}

figure figcaption {
  color: #555;
  padding: 2em;
}

/*  HEADER */
.header {
  color: #DDD7D4;
  align-self: center;
  padding-bottom: 4em;
  margin-right: 3em;
}

.header #title {
  font-family: 'Lobster', sans-serif;
  font-size: 4.5rem;
  margin: 0;
  line-height: 4.5rem;
}

.header p {
  font-size: 1.3rem;
  font-weight: 400;
}

#main {
  color: #211e1a;
  width: 100%;
  background: #E1DCD2;
  margin: 4em 0;
}

/* Tribute infos */
#main h2 {
  text-align: center;
  font-size: 1.8rem;
}

#main dt {
  font-weight: 700;
  font-size: 1.1rem;
  margin-bottom: 0.5em;
  margin-top: 2em;
}

#main dt::after {
  content: ':';
}

#main dd {
  margin-bottom: 1em;
  word-spacing: 0.3em;
  font-weight: 500;
}

#main dd::before {
  content: '\2022';
  margin: 0 0.5em 0 -0.9em;
  font-size: 1.5rem;
}

/* Quote */
blockquote {
  width: 100%;
}

blockquote .quote::before {
  content: '\201c';
  display: block;
  font-size: 5rem;
  height: 50px;
}

blockquote .quote {
  width: 70%;
  font-size: 1.5rem;
  text-align: center;
  margin: 2em auto 1em auto;
}

blockquote .andres {
  text-align: center;
  font-style: italic;
  margin-bottom: 4em;
}

blockquote .andres::before {
  content: '~';
}

.wiki {
  text-align: center;
}

.wiki a {
  text-decoration: none;
  color: #07407b;
  transition: all 0.4s;
}

.wiki a:hover {
  color: #6497b2;
}

@media (max-width: 760px) {
  .flex-3 {
    flex-direction: column;
    align-items: center;
  }

  .header {
    text-align: center;
    margin-right: 0;
    margin-top: 2em;
  }

  .header #title {
    font-size: 3.4rem;
  }

  .header p {
    margin: 1em 0 0 0;
    font-size: 1em;
  }

  #img-div {
    margin: -2em 0 0 0;
    max-width: 300px;
  }

  #img-div figure figcaption {
    padding: 0 2;
  }

  #img-div #image {
    padding-top: 1em;
    max-width: 300px;
    height: auto;
  }
}

@media (max-height: 700px) {
  #img-div {
    height: 600px;
    align-items: flex-start;
  }

  #img-div #image {
    margin-top: -2.5rem;
  }
}